/* .header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  object-fit: cover;
  overflow: visible;
} */

.filter{
  margin : 10px;
}
.header {
    overflow: hidden;
    /* background-color: #333; */
    display: flex;
    justify-content: space-between;
    border: 1px solid black ;
  }

  .list-container {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .list-container :hover {
    background-color: #dddddd;
    color: black;
  }

  @media screen and (max-width: 600px) {
    .list-container:not(:first-child) {display: none;}
    .logo-container {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    
    .list-container {
      float: right;
      display: block;
    }
  }


  @media screen and (max-width: 600px) {
    .header.responsive {position: relative;}
    .header.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .list-container {
      float: none;
      display: block;
      text-align: left;
    }
  }

.logo {
  object-fit: cover;
  width : 100px;
  justify-content: left;
  background-color: #333 ;
}

.list-container {
  display: flex;
  list-style: none;
  font-size: 20px;
}

.list {
  padding: 10px;
  /* margin-right: 50px; */
 
}

.res-card {
  /* display : grid;
  padding : 30px;
  max-width: max-content;
  border: 1px solid hsl(0, 0%, 0%);
  background-color: #f0f0f0; */

  /* height : 300px; */

/* Latest unchanged content */
  /* width : 200px;
  border: 1px solid hsl(0, 0%, 0%);
  padding : 10px; */

  display: grid;
  height: 500px;
  width: 200px;
  justify-items: baseline;
  justify-content: center;
  border: 1px solid hsl(0, 0%, 0%);
  align-items: normal;
  padding: 10px;
  h4{
      position: relative;
  }
}

.res-logo {
   height: 200px;
   width: 200px;
   object-fit: cover;
   align-items: center;
   justify-content: center;
   padding : 10px;
}

.search {
  padding: 10px;
}

.res-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */

  display: flex;
  /* grid-template-columns: repeat(4, 0.5fr); */
  flex-wrap: wrap;
  align-items: center;
  box-sizing: inherit;
  justify-content: center;
  border: #333 1px;
  padding: 10px;
  margin: 10px;
}

/* .res-container {
    padding :  0px;
    list-style: none;
    margin-block: 0px;
    display : grid;
    -webkit-box-align: start;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    gap : 32px;
    margin  :32px 16px;

} */

/* .res-card > h3 {
    display: flex;
    
    height: 500px;
    object-fit: cover;
    
    
} */
/* .res-card  :hover{
  
  border: 1px solid hsl(0, 0%, 0%);

} */
.res-details {
    text-align: left;
    justify-content: left;
    line-height: 25px;
    font-family: arial;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    padding : 10px;
    

    h4, h5{
        overflow : hidden;
    }

    
}

.star-rating{
  display: flex;
  align-items :end;
  justify-content: last baseline;
  
}